@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1270px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  background-color: #1CBAE1;
  color: #ffffff;
  border: none;
  height: 40px;
  line-height: 0;
  cursor: pointer;
  user-select: none;
  font-size: 1em;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn:hover {
  background-color: #51c6e4;
}

p {
  color: #D9D9D9;
}

a {
  font-family: "Quicksand";
}

.input {
  border: none;
  border-bottom: solid 1px #D9D9D9;
  background: #1A1A1A;
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "Quicksand";
  text-indent: 40px;
  font-size: 1em;
  color: #D9D9D9;
}
.input:focus {
  outline: none;
  font-weight: 500;
  border-bottom: 2px solid #D9D9D9;
}

.background {
  background-image: url("../../public/img/bg.webp");
  background-size: cover;
  background-repeat: repeat;
}

.form-select {
  background: #B1B1B1;
  color: #1A1A1A;
  border: none;
  border-radius: 4px;
  font-family: "Quicksand";
  padding: 6px 8px;
}
.form-select option {
  font-family: "Quicksand";
  padding: 12px;
  color: #1A1A1A;
  font-size: 16px;
}

.warning {
  background: #FF8C21;
  color: #F5DFCA;
}
.warning p {
  text-align: center;
  font-family: "Quicksand";
  font-weight: 500;
  color: #1A1A1A;
}

.header-admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-admin form {
  position: relative;
}
.header-admin form img {
  width: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.header-admin .user {
  padding-left: 12px;
  font-family: "Quicksand";
}
.header-admin .user a {
  color: #ffffff;
}
.header-admin .user img {
  margin-left: -8px;
}

[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown {
  display: none;
}

[data-dropdown]:hover .dropdown,
[data-dropdown].active .dropdown {
  display: block;
  animation: show-up 0.3s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 24px;
  right: 4px;
  width: max-content;
  background: #646464;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 200;
  border-radius: 4px;
  border-top: 4px solid #B1B1B1;
}
.dropdown li {
  padding: 12px;
  border-bottom: 1px solid #646464;
}
.dropdown li a {
  color: #ffffff;
}

.dropdown::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  right: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #B1B1B1;
}

.dropdown li:hover {
  background-color: #8C8C8C;
}

#header {
  background: #1A1A1A;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#header nav {
  padding: 28px 0;
}
#header nav .logo img {
  width: 170px;
  height: 32px;
}

#main {
  min-height: calc(100vh - 88px);
  display: flex;
  align-items: center;
}

.formulario {
  width: 346px;
  padding: 20px 0;
}
.formulario .btn-options {
  display: flex;
  gap: 12px;
}
.formulario .btn-options .dark {
  background-color: #646464;
}
.formulario .btn-options .dark:hover {
  background-color: #8C8C8C;
}

#login,
#cadastrar,
#perfil {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1A1A1A;
  color: #D9D9D9;
  border-radius: 4px;
  padding: 20px;
  gap: 20px;
}
#login h1,
#cadastrar h1,
#perfil h1 {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 2.618em;
  padding: 20px;
}
#login .form-group,
#cadastrar .form-group,
#perfil .form-group {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#login .form-group img,
#cadastrar .form-group img,
#perfil .form-group img {
  width: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}
#login input::placeholder,
#cadastrar input::placeholder,
#perfil input::placeholder {
  color: #D9D9D9;
}
#login a,
#cadastrar a,
#perfil a {
  font-family: "Quicksand";
  color: #1CBAE1;
  padding-bottom: 20px;
}
#login label,
#cadastrar label,
#perfil label {
  font-size: 1em;
  color: #D9D9D9;
  font-family: "Quicksand";
}
#login .radio,
#cadastrar .radio,
#perfil .radio {
  display: flex;
  gap: 8px;
}
#login .radio label,
#cadastrar .radio label,
#perfil .radio label {
  font-size: 0.718em;
}

#cadastrar {
  padding: 40px 20px;
}

input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #B1B1B1;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

input[type=radio]:checked {
  background-color: #1CBAE1;
}

#animes {
  background-color: #1A1A1A;
  margin-top: 60px;
  border-radius: 4px;
  margin-bottom: 40px;
}
#animes .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 348px);
  gap: 40px;
  padding: 40px;
}
#animes .grid .grid-item {
  gap: 40px;
}
#animes .grid .grid-item .item-img {
  max-height: 348px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #B1B1B1;
  border-radius: 4px;
}
#animes .grid .grid-item .image {
  transition: opacity 0.3s ease;
  border-radius: 4px;
}
#animes .grid .grid-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#animes .grid .grid-item .text {
  font-family: "Quicksand";
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
#animes .grid .grid-item .item-img:hover .overlay {
  opacity: 1;
}
#animes .grid .grid-item .item-img:hover .image {
  opacity: 0.3;
}

.header-anime {
  padding: 60px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Quicksand";
  color: #ffffff;
}
.header-anime h1 {
  font-weight: 600;
  font-size: 2.618em;
}
.header-anime h1 span {
  background: #B1B1B1;
  color: #646464;
  padding: 4px 12px;
  border-radius: 4px;
}
.header-anime p {
  color: #ffffff;
  font-weight: 500;
}

#anime {
  background-color: #1A1A1A;
  margin-top: 60px;
  border-radius: 4px;
  margin-bottom: 40px;
  padding: 40px;
}

.info-anime {
  display: flex;
  gap: 20px;
}
.info-anime .anime-img {
  width: 320px;
}

.anime-title {
  font-family: "Quicksand";
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.anime-title .title-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.anime-title .title-name p {
  font-size: 2.618em;
  padding-right: 12px;
  font-weight: 500;
}
.anime-title img {
  width: 36px;
}
.anime-title .title-name-english p {
  font-size: 1.5em;
  height: 24px;
}
.anime-title .anime-situation {
  border: 1px solid #FF8C21;
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
}
.anime-title .anime-situation p {
  color: #FF8C21;
}

.my-informations {
  color: #D9D9D9;
}
.my-informations li {
  padding: 8px 0;
  font-weight: 500;
}
.my-informations li span {
  font-weight: 300;
  color: #8C8C8C;
}

.anime-description p {
  margin-top: 20px;
  font-size: 1em;
  font-family: "Poppins";
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.pagination a {
  padding: 8px 12px;
  margin: 0 4px;
  background-color: #1CBAE1;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-weight: 500;
}

.pagination a:hover {
  background-color: #51c6e4;
}

.pagination .page {
  background-color: #8C8C8C;
  color: #1A1A1A;
}

.pagination .page:hover {
  background-color: #D9D9D9;
}

.pagination .prev,
.pagination .next {
  font-weight: bold;
}

/* Estilos para quando a página atual estiver ativa */
.pagination .active {
  background-color: #0056b3;
  color: white;
}

#add-anime {
  background-color: #1A1A1A;
  margin-top: 60px;
  border-radius: 4px;
  margin-bottom: 40px;
  padding: 40px;
  width: 50%;
  font-family: "Quicksand";
}
#add-anime h1 {
  color: #D9D9D9;
  font-size: 2.618em;
  margin-bottom: 20px;
}
#add-anime label {
  display: block;
  color: #ffffff;
  margin-bottom: 4px;
  color: #D9D9D9;
}
#add-anime .input {
  text-indent: 8px;
  color: #8C8C8C;
}
#add-anime .form-group {
  padding: 8px 0;
}
#add-anime select {
  height: 40px;
  width: 100%;
  padding: 0 4px;
}
#add-anime .flex {
  justify-content: space-between;
  gap: 20px;
}
#add-anime .flex div {
  width: 50%;
}

#anime-description {
  resize: none;
  height: 160px;
  margin-bottom: 20px;
}

footer {
  padding: 60px;
  background: #1A1A1A;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer p {
  font-family: "Quicksand";
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
