#main {
  min-height: calc(100vh - 88px);
  display: flex;
  align-items: center;
}

.formulario {
  width: 346px;
  padding: 20px 0;

  .btn-options {
    display: flex;
    gap: 12px;

    .dark {
      background-color: $gray-3;

      &:hover {
        background-color: $gray-2;
      }
    }
  }
}